#myTabPane {
    -fx-tab-min-height: 5em;
    -fx-tab-max-height: 5em;

    -fx-tab-min-width: 0.5em;
    -fx-tab-max-width: 0.5em;
    -fx-padding: 0 -1 -1 0;
}

.tab.tab-label {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: blue;
}

.tab {
    /*-fx-background-color:rgba(0,0,0,0.5);*/
    -fx-background-color: white;
    -fx-text-base-color: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 30 30 30 30;
}

.tab:selected {
    /*-fx-text-base-color: black;*/
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 5 0 0 0;
    -fx-border-color: #2874A6;
}


.tab:focused {
    -fx-text-base-color: black;
    -fx-focus-color: transparent;
}

.tab-pane *.tab-header-background {
    -fx-background-color: transparent;
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.tab-pane:top *.tab-header-area {

    -fx-background-insets: 0 0 0 10;
    -fx-padding: 0 0 0 10;
}

.tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

.tab:hover {
    -fx-text-base-color: black;
    -fx-background-color: #85C1E9;

    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 5 0 0 0;
    -fx-border-color: #2874A6;
}

